#game-container {
    display: flex;
}


#board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 320px;
    height: 640px;
    margin-right: 50px;
    border: 5px solid;
    border-color: #848B8F;
    background-color: #EEF1F4;
}

.board-block {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: #D6DCDF;
}

.wall-block {
    width: 30px;
    height: 10px;
}

#up-next-board {
    display: flex;
    flex-wrap: wrap;
    width: 128px;
    height: 128px;
    border: 5px solid;
    border-color: #848B8F;
    background-color: #EEF1F4;
}

#h3-score {
    font-family: 'MuseoModerno', cursive;
}

.p-indie-flower {
    font-family: 'Indie Flower', cursive;
}