/* EZ-Tetris CSS */
div.et-main-container {
	box-sizing: content-box;
    display: flex;
}

div.et-main-container .game-board {
	box-sizing: content-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 320px;
    height: 640px;
    margin-right: 50px;
    border: 5px solid;
    border-color: #848B8F;
    background-color: #EEF1F4;
}

div.et-main-container .game-board div.board-block,
div.et-main-container .et-info-container .mini-board div.board-block {
	box-sizing: content-box;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: #D6DCDF;
}

div.et-main-container .et-info-container {
	box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.et-main-container .et-info-container .mini-board {
	box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    width: 128px;
    height: 128px;
    border: 5px solid;
    border-color: #848B8F;
    background-color: #EEF1F4;
}

div.et-main-container .et-info-container .score-n-btn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
    border: 5px solid;
    border-color: #D8DDE1;
    padding-left: 5px;
    padding-right: 5px;
}

div.et-main-container .et-info-container .score-n-btn-container .score-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.et-main-container .et-info-container .score-n-btn-container .score-container .h3-score-text {
    font-family: 'MuseoModerno', cursive;
    color: #696B6D;
	margin: 2px 0px 2px 0px;
}

div.et-main-container .et-info-container .score-n-btn-container .score-container .score-value {
	font-family: 'MuseoModerno', cursive;
	font-size: 20px;
	color: #696B6D;
}

div.et-main-container .et-info-container .score-n-btn-container .game-btn {
    font-family: 'MuseoModerno', cursive;
    border: 1px solid #848B8F;
	padding: 5px;
	margin-bottom: 12px;
}

div.et-main-container .et-info-container .score-n-btn-container #pause-resume-btn {
    margin-top: 30px;
}

div.et-main-container .et-info-container .h4-museo-moderno {
	font-family: 'MuseoModerno', cursive;
	color: #696B6D;
	margin: 0px 0px 24px 0px;
}

div.et-main-container .et-info-container .score-n-btn-container .p-museo-moderno {
	font-size: 16px;
    font-family: 'MuseoModerno', cursive;
    color: #696B6D;
}

